@import "tailwindcss";


body{
  margin: 0px;
  background-image: url("/src/assets/back1.jpg");
}

.noScrollBar::-webkit-scrollbar{
  width: 0;
}
.messages > div:nth-child(2n){
  background-color: rgba(0, 0, 0, 0.281);
}

